@charset 'utf-8'

@import "bootstrap"

footer
 position: absolute
 text-align: center
 bottom: 20px
 right: 0
 left: 0

.api-details
 padding: 10px
 background: #f9f9f9
 border: 1px solid #f0f0f0
 margin-bottom: 20px

.well
 border-radius: 0
 box-shadow: none
 background: #0084FB
 color: #fff
 border: 1px solid #f9f9f9